---
---

@charset "utf-8";

// Fonts
$base-font-family: "Noto Serif", "Noto Serif SC", serif;
$base-font-weight: 425;
$base-font-size:   (18rem / 16);
$base-line-height: 1.5;
$secondary-font-family: "Inconsolata", monospace;
$secondary-font-weight: 500;
$secondary-font-size: (20rem / 16);
$secondary-line-height: 1.35;

$text-color:       #111;
$background-color: #ffffe9;
$accent-color:      #ffd700;
$accent-darker: darken($accent-color, 10%);

$spacing-unit-px:   15px;
$spacing-unit-rem:  15rem / 16;
$spacing-unit: 30px;

// Using media queries with like this:
// @include media-query($large) {
//     ...
// }
@mixin media-query($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

$max-content-width-non-textual: 1000px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "normalize",
    "base",
    "navbar",
    "homepage",
    "blog",
    "recipes",
    "long-post",
    "short-post"
;