/* General */
:root {
    --accent-color: #ffd700;
    --accent-border: #dabf2a;
    --background-color: #ffffe9;
    --highlight-color: #f2f4f7;

}
html {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-color);
    overflow-y: scroll;
    font-size: 18px;
}
img {
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
}
code {
    background-color: var(--highlight-color);
    border-radius: 6px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}

.highlight pre {
    overflow-x: scroll;
    background-color: var(--highlight-color);
    border-radius: 6px;
    padding: 20px;
}

/* Sidebar Layout (sidebar and content container) */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 270px;
    background-color: var(--accent-color);
    border-right: 2px solid var(--accent-border);
    text-align: right;
}
.sidebar header {
    padding: 20px;
}
.sidebar #sitetitle {
    font-weight: bold;
    font-size: 40px;
}
.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.sidebar a:hover {
    color: darkgoldenrod;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li {
    margin: 7px 0px;
}
.sidebar #saucyboy {
    position: relative;
    z-index: -1;
    width: 200px;
    top: -60px;
    left: 20px;
}
.sidebar footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

/* Page Layout (content container) */
main {
    position: absolute;
    top: 0px;
    left: 270px;
    z-index: -1;
}

/* PAGE: Gallery */
.gallery {
    padding: 20px;
    column-count: 3;
    column-gap: 20px;
    
}
.gallery img {
    width: 300px;
    border: 2px solid transparent;
    box-sizing: border-box;
}
.gallery img:hover{
    border: 2px solid var(--accent-border);
}

/* short-post layout (content) */
#shortpost {
    display: flex;
    flex-flow: row nowrap;
}
.imagereel {
    flex: 0 1 350px;
    padding: 20px;
}
.imagereel img {
    width: 100%;
}
.shortdesc {
    flex: 0 2 500px;
}
#sd-content {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

/* long-post layout */
.long-post {
    padding: 0px 20px 30px 20px;
    box-sizing: border-box;
    max-width: 800px;
}
.long-post .content {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.long-post img {
    max-width: 100%;
    height: 50vh;
}




