/* General */
html {
    font-family: 'Roboto Mono', monospace;
    background-color: lightgoldenrodyellow;
    overflow-y: scroll;
}
img {
    width: 300px;
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Sidebar Layout (sidebar and content container) */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 270px;
    background-color: gold;
    text-align: right;
}
.sidebar header {
    padding: 20px;
}
.sidebar #sitetitle {
    font-weight: bold;
    font-size: 40px;
}
.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.sidebar a:hover {
    color: darkgoldenrod;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li {
    margin: 7px 0px;
}
#saucyboy {
    position: relative;
    z-index: -1;
    width: 200px;
    top: -60px;
    left: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

/* Page Layout (content container) */
main {
    position: absolute;
    top: 0px;
    left: 270px;
}

/* PAGE: Gallery */
.gallery {
    padding: 20px;
    column-count: 3;
    column-gap: 20px;
    
}

/* short-post layout (content) */
#shortpost {
    display: flex;
    flex-flow: row nowrap;
}
.imagereel {
    flex: 0 1 350px;
    padding: 20px;
}
.imagereel img {
    width: 100%;
}
.shortdesc {
    flex: 0 2 500px;
}
#sd-content {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}








