<!--
Parameters:
    None
-->

<!-- /recipes/noodles-pasta/pasta/lasagna/ -->
{% assign my_list = page.url | replace: '/', ' ' | strip | split:' ' %}
{% assign temp = my_list | size | minus: 1 %}
{% assign my_list = my_list | slice: 0, temp %}
<!-- [recipes, noodles-pasta, pasta] -->
{% assign temp = my_list | size %}
{% if temp != 0 %}
<div id="file-path" class="secondary-font">
 <!-- Match "pasta" with path ".../pasta/index.md". Need special case for "recipes/index.md"-->
/{%- for item in my_list -%}
    {%- for node in site.pages -%}
        {%- if item == "recipes" -%}
            {%- assign temp = "recipes/index.md" -%}
        {%- else -%}
            {%- assign temp = "/" | append: item | append: "/index.md" -%}
        {%- endif -%}
        {%- if node.path contains temp -%}
            <a href="{{node.url}}">{{node.title}}</a>/
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
</div>
{% endif %}