{% assign title = page.title | default: site.title %}
{% assign description = page.desc | default: site.desc %}

<head>
    <title>{{ title }}</title>
    
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/script.js" defer></script>
    
    <link href="/main.css" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    
    <!-- favicon stuff -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <!-- <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml"> -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
</head>