{% assign title = page.title | default: site.title %}
{% assign description = page.desc | default: site.desc %}

<head>
    <title>{{ title }}</title>
    
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/script.js" defer></script>

    <link href="/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

    <!-- favicon stuff -->
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <!-- <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml"> -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
</head>