<aside class="sidebar">
    <header>
        <a href="/" id="sitetitle"><span >goldinvo.com</span></a>
        <nav>
            <ul>     
                <li><a href="/" {% if page.url == "/" %}class="current-page"{% endif %}>Gallery</a></li>
                <li><a href="/blog" {% if page.url == "/blog.html" %}class="current-page"{% endif %}>Blog</a></li>
                <li><a href="/other" {% if page.url == "/other.html" %}class="current-page"{% endif %}>Other</a></li>
                <li><a href="/about" {% if page.url == "/about.html" %}class="current-page"{% endif %}>About</a></li>
            </ul>
        </nav>
    </header>
    <img id="saucyboy" src="/assets/saucyboy.svg">
    <!--   
    <footer>
        blah blah blah
    </footer>
    -->
</aside>