<!-- {% comment %}
    To use: 
    {% include stub.html src="relative/path.md"%} 
    OR
    {% include stub.html title="Title" %}
{% endcomment %} -->

{% assign found = false %}
<div class="stub">
{% if include.src %}
    {% for node in site.pages %}
    {% if node.path == include.src %} {% assign found = true %}
    <a class="secondary-font" href="{{node.url}}">{{node.title}}</a>
    <div class="stub-content">
        {% if node.content contains "<!-- stub -->" %}
        {{ node.content | split: "<!-- endstub -->" | first | split: "<!-- stub -->" | last | markdownify }}
        {% endif %}
    </div>
    {% break %}
    {% endif %}
    {% endfor %}
{% elsif include.title %}
    {% for node in site.pages %} 
    {% if node.path contains "recipes/" and node.title == include.title %} {% assign found = true %}
    <a class="secondary-font" href="{{node.url}}">{{node.title}}</a>
    <div class="stub-content">
        {% if node.content contains "<!-- stub -->" %}
        {{ node.content | split: "<!-- endstub -->" | first | split: "<!-- stub -->" | last | markdownify }}
        {% endif %}
    </div>
    {% break %}
    {% endif %}
    {% endfor %}
{% endif %}
</div>

{% if found == false %}{% link error_could_not_find_stub %}{% endif %}



