<!-- {% comment %}
    To use: 
    {% include stub.html src="relative/path.md"%}
{% endcomment %} -->

<!-- TODO: currently search through site.pages for target post. Maybe there is a better way to reference? -->
{% for node in site.pages %}
{% if node.path == include.src %}
    
<div class="stub">
    <a class="secondary-font" href={{node.url}}>{{node.title}}</a>
    <div class="stub-content">
        {% if node.content contains "<!-- stub -->" %}
        <!-- used markdownify to fix some arcane bug I couldn't isolate -->
        {{ node.content | markdownify | split: "<!-- endstub -->" | first | split: "<!-- stub -->" | last }}
        {% endif %}
    </div>
</div>

{% endif %}
{% endfor %}


