body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
p, blockquote, pre,
ul, ol, dl, figure, table {
    margin-bottom: $spacing-unit-rem;
}
h1 {
    font-weight: bolder;
    margin-bottom: $spacing-unit-rem;
}
h2, h3, h4, h5, h6 {
    text-decoration: underline;
    margin-bottom: $spacing-unit-rem * .70;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid black;
    margin: $spacing-unit-px 0;
}

// Lists
ul, ol {
    margin-left: $spacing-unit-rem * 2;
}
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

// Description lists
dt {
    font-weight: bold;
}
dd {
    margin-left: calc(40rem/16);
}

// Tables
td, th {
    padding-right: $spacing-unit-rem;
}


body {
    // TODO: set html font size to use rem
    // font-size: $base-font-size;
    
    font-family: $base-font-family;
    font-optical-sizing: auto;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    .secondary-font {
        font-size: $secondary-font-size;
    }

    .secondary-font, h1, h2, h3, h4, h5, h6  {
        font-family: $secondary-font-family;
        font-weight: $secondary-font-weight;
        line-height: $secondary-line-height;
        font-style: normal;
    }

    color: $text-color;
    background-color: $background-color;
}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #eef;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow-x: scroll;
    border-radius: 15px;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// button {
//     background-color: var(--accent-color);
//     border: none;
//     border-radius: 15px;
//     padding: 10px 15px;
//     font-size: inherit;
//     font: inherit;
// }
// button:hover {
// //    background-color: $accent-darker;
//     cursor: pointer;
// }


a {
    color: $accent-darker;
    text-decoration: none;

    &:visited {
        color: darken($accent-darker, 10%);
    }

    &:hover {
        text-decoration: underline;
    }
}

a.link-highlight, .link-highlight a {
    background-color: $accent-color;
    color: $text-color;
    &:visited {
        color: $text-color;
    }
}

main {
    font-size: $base-font-size;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-unit-px*2;
    margin-bottom: $spacing-unit-px*2;

    &.text-content {
        max-width: calc(750rem / 16);
    }
    &.text-two-col-content {
        max-width: (875rem / 16);
    }
    &.media-content {
        max-width: 1000px;
    }
    &.mixed-content {
        max-width: calc(380px + 30rem)
    }
}