.blog-list {
    ul {
        list-style-type: none;
        margin: 0;
        li {
            margin-bottom: $spacing-unit-px *2;
            display: flex;
            gap: $spacing-unit-px;


            #thumbnail {
                flex: 0 2 200px;
            }

            .meta {
                flex: 0 3 30rem;

                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                gap: $spacing-unit-px;
                #title {
                    font-size: (22rem / 16);
                    padding: 0 $spacing-unit-rem/2;
                }
                #date {
                    font-size: (14rem / 16);
                }
            }
        }
    }
}
