.blog-list {
    img {
        display: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        li {
            margin-bottom: $spacing-unit;
        }
    }
    .meta {
        display: flex;
        flex-flow: column nowrap;
        gap: $spacing-unit/2;
        #title {
            text-decoration: underline;
        }
        #date {
            font-size: .75em;
        }
    }
}


@include media-query($large) {
    .blog-list {
        margin-right: 10%;
        li {
            display: flex;
            align-items: start;
            flex-direction: row;
            margin-bottom: $spacing-unit;
        }
        img {
            width: 200px;
        }
        .meta{
            margin-left: $spacing-unit/2;
            a {
                text-decoration: none;
                color: black;
                h1 {
                    font-size: 30px;
                }
                &:hover {
                    color: $accent-darker;
                }
            }  
            
        }
    }    
}

