.blog-list {
    img {
        display: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        li {
            margin-bottom: $spacing-unit;
        }
    }
    .meta {
        display: flex;
        flex-flow: column nowrap;
        gap: $spacing-unit/2;
        #title {
            text-decoration: underline;
            font-size: 1.25em;
        }
        #date {
            font-size: .75em;
        }
    }
}


@include media-query($large) {
    .blog-list {
        max-width: $large*.9;
        img {
            display: block;
            width: 200px;
            max-width: none;
            max-height: none;
        }
        li {
            display: flex;
            .meta{
                margin-left: $spacing-unit/2;
            }
        }
    }    
}

