.gallery {
    width: 100%;
    // overflow-x: hidden; for desktop?
    img {
        width: 100%;
        margin-bottom: $spacing-unit;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid $accent-color;
        }
    }
}

@include media-query($large) {
    .gallery {
        max-width: $large*1.4;
        column-count: 3;
        column-gap: $spacing-unit/2;
        img {
            margin-bottom: $spacing-unit/2;
        }
    }
}

