.gallery {
    width: 100%;
    // overflow-x: hidden; for desktop?
    img {
        width: 100%;
        margin-bottom: $spacing-unit;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid $accent-color;
        }
    }
}

@include media-query($large) {
    .gallery {
        width: 200px;
        //.posts {
            column-count: 3;
            column-gap: $spacing-unit;
        //}
    }
}

