.homepage {
    column-gap: $spacing-unit-px;
    column-count: 3;
    @include media-query(850px) {
        column-count: 2;
    }
    @include media-query(525px) {
        column-count: 1;
    }

    img {
        transition: transform 200ms;
        will-change: transform; // fixes safari image crop, somehow
        &:hover, &:focus {
            transform: scale(1.02);
        }
    }

    a {
        // Safari cuts off img bottom-margin to next col
        display: block;
        break-inside: avoid;
        padding-bottom: $spacing-unit-px;
    }

}   


