.homepage {
    column-gap: $spacing-unit-px;
    column-count: 3;
    @include media-query(850px) {
        column-count: 2;
    }
    @include media-query(525px) {
        column-count: 1;
    }

    img {
        margin-bottom: $spacing-unit-px;
        &:hover{
            // TODO: Make image look clickable on hover. Maybe slight zoom animation?
            // box-shadow: 0px 0px 4px 2px $accent-color;
        }
    }
}   


