.long-post {
    img {
        max-height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        border-bottom: 1px solid black;
        margin-bottom: $spacing-unit/2;
    }
}



@include media-query($large) {
    .long-post {
        max-width: 800px;
        
        
    }
}
