header {
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        height: 40px;
        cursor: pointer;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $spacing-unit/2;
    height: 50px;

    background-color: $accent-color;

    span {
        font-size: 22px;
    }
}
.navbar-menu{
    height: 0;
    overflow-y: hidden;

    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    background-color: $accent-color;

    text-align: center;
    nav {
        box-sizing: border-box;
        padding: $spacing-unit;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sitetitle {
        display: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
    }
    li a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        &:hover {
            color: darkgoldenrod;
        }
        &.current-page {
            text-decoration: underline;
        }
    }
    #close-menu {
        box-sizing: content-box;
        position: absolute;
        top: 0;
        right: 0;
        padding: $spacing-unit/2;
    }
    #saucyboy {
        display: none;
    }
}

@include media-query($large) {
    #myNavbar {
        display: none;
    }
    .navbar-menu, #myMenu {
        height: 100vh !important;
    }
    .navbar-menu {
        width: $large-sidebar-width;
        text-align: right;
        #close-menu {
            display: none;
        }
        nav {
            display: block;
            #sitetitle {
                display:block;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 25px;
                margin-top: -10px;
            }
            #sitetitle, li {
                margin-bottom: $spacing-unit/4;
            }   
        }
        #saucyboy {
            display: block;
            position: absolute;
            top: 200px;
            left: 40px;
            width: 150px;
            z-index: -1;
        }
    } 
}
