.other {
    a  {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: var(--highlight-color);
        border-radius: 15px;
        padding: 10px;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid var(--accent-color)
        }
        img {
            max-width: 300px;
        }
    }
}

@include media-query($large) {

}