main {
    box-sizing: border-box;
    padding: $spacing-unit;

    @include media-query($medium) {
        max-width: $medium;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }    
    }
    
}

@include media-query($large) {
    main {
        max-width: $large*1.4;
        margin: 0;
        text-align: left;
        position: absolute;
        top: 0px;
        left: $large-sidebar-width;
    }
}