.stub {
    .stub-content {
        padding-left: $spacing-unit-px/2;
        font-size: 0.9em;
    }
    a {
        display: inline-block;
        color: $text-color;
        background-color: $accent-color;
        padding: 0 $spacing-unit-px/2;
        margin-bottom: $spacing-unit-px/2;
    }
    a:visited {
        color: $text-color;
    }
}

.recipes-index {
    ul {
        column-count: 2;
        @include media-query(450px) {
            column-count: 1;
        }
        width: 100%;
    }
    img {
        display: inline;
        margin-right: 0.3em;
        vertical-align: text-bottom;
        height: (22rem/16);
    }
}

#file-path {
    text-align: left; 
    a {
        padding: 0 ($spacing-unit-rem/2);
    }
    a:visited {
        color: $accent-darker;
    }
}

.recipe-nav {
    .folders {
        display: block;
        list-style-type: none;
        margin-left: 0;
        width: 100%;

        column-count: 2;
        column-gap: $spacing-unit;
        @include media-query(575px) {
            column-count: 1;
            width: auto;
            min-width: 50%;
        }

        li {
            background-color: $accent-color;
            padding: $spacing-unit-px/2 $spacing-unit-px;
            color: $text-color;     
        }
        a {
            display: block;
            break-inside: avoid;
            padding-bottom: $spacing-unit-px;
        }
    }
    .files {
        list-style-type: none;
        margin-left: 0;
        width: 100%;
        column-count: 2;
        @include media-query(575px) {
            column-count: 1;
        }

        > li {
            break-inside: avoid;
            margin-bottom: $spacing-unit-px;
        }
    }
    .stub-content {
        li {
            list-style-type: disc;
        }
    }
}

.recipe {
    #image-reel {
        max-width: 600px;
        margin: ($spacing-unit-px*2) auto;

        column-count: 2;
        gap: $spacing-unit-px;

        &:has(> img:only-child) {  // what a great time to be alive
            column-count: 1;
        }

        @include media-query(500px) {
            column-count: 1;
        }
        
        img {
            margin-bottom: $spacing-unit-px;
        }
    }
}

.recipe, .recipe-nav {
    footer {
        text-align: center; 
        font-size: .93em;
    }
}