.stub {
    .stub-content {
        padding-left: $spacing-unit/4;
        font-size: $base-font-size * 0.85;
    }
    a {
        display: inline-block;
        color: $text-color;
        background-color: $accent-color;
        padding: 0 $spacing-unit/4;
        margin-bottom: $spacing-unit/4;
    }
    a:visited {
        color: $text-color;
    }
}

#file-path {
    text-align: left; 
    a {
        padding: 0 $spacing-unit/4;
    }
    a:visited {
        color: $accent-darker;
    }
}

.recipes-index {
    a:visited {
        color: $accent-darker;
    }
    img {
        display: inline;
        margin-right: 0.3em;
        vertical-align: text-bottom;
        height: 22px;
    }
}

@include media-query($large) {
    .recipes-index {
        ul {
            column-count: 2;
            column-gap: $spacing-unit;
        }
    }
}  

.recipe-nav {
    max-width: 900px;

    .folders {
        display: inline-block;

        list-style-type: none;
        margin-left: 0;

        li {
            background-color: $accent-color;
            padding: $spacing-unit/4 $spacing-unit/2;
            margin-bottom: $spacing-unit/2;
        }
        a {
            color: $text-color;    
        }
    }
    .files {
        list-style-type: none;
        margin-left: 0;

        > li {
            break-inside: avoid;
            margin-bottom: $spacing-unit/2;
        }
    }
    .stub-content {
        li {
            list-style-type: disc;
        }
    }
}

@include media-query($large) {
    .recipe-nav {
        .folders {
            // min-width: 50%;
            column-count: 2;
            column-gap: $spacing-unit;
        }

        .files{
            width: 100%;
            column-count: 2;
            column-gap: $spacing-unit;
        }
        
    }
}

