.short-post {
    width: 100%;
    
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: $spacing-unit-px * 2;
        
    text-align: justify;
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    #image-reel {
        flex: 0 3 350px;
        // overflow: scroll; TODO: https://stackoverflow.com/questions/10626503/scroll-an-overflowing-div-by-scrolling-anywhere-on-the-page
        img {
            margin-bottom: $spacing-unit-px;
        }
    }

    #short-desc {
        flex: 0 4 30rem;
        #date {
            font-size: calc(14rem / 16);
        }
    }

    @include media-query(650px) {
        

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        #image-reel, #short-desc {
            flex: 0 1 auto;
        }
        img {
            max-width: MIN(100%, 350px);
            margin: 0 auto;
        }
    }
}



