:root {
    --text-color: #111;
    --background-color: #fffbe9;
    --accent-color: #ffd700;
    --accent-darker: #ccac00;
    --link-color: #768844;
    --link-visited: #947b88;
}

.noto-serif, body {
    font-family: "Noto Serif", "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-weight: 425;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    line-height: 1.5;
} 

.inconsolata, h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    line-height: 1.35;
}
.inconsolata {
    font-size: calc(20rem / 16);
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: calc(18rem / 16);
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
p, blockquote, pre,
ul, ol, dl, figure, table {
    margin-bottom: calc(15rem / 16);
}
h1 {
    margin-bottom: calc(15rem / 16);
}
h2, h3, h4, h5, h6 {
    text-decoration: underline;
    margin-bottom: calc((15rem / 16) * .70);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid black;
    margin: 15px 0;
}

/* Lists */
ul, ol {
    margin-left: calc((15rem / 16) * 2);
}
li > ul, li > ol {
    margin-bottom: 0;
}

/* Description lists */
dt {
    font-weight: bold;
}
dd {
    margin-left: calc(40rem/16);
}

/* Tables */
td, th {
    padding-right: 15px;
}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

pre, code, .astro-code, .github-dark {
    font-size: 15px;
    background-color: rgb(243, 241, 227) !important;
    color: var(--text-color) !important;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow-x: scroll;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}


a {
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited);
}
.visited-unchanged a:visited, a.visited-unchanged:visited{
    color: var(--link-color);
}
.hover-underline a, a.hover-underline {
    text-decoration: none;
}
.hover-underline a:hover, a.hover-underline:hover {
    text-decoration: underline;
}