---
import Page from '../layouts/Page.astro';
---
<Page
    title='About'
    description='About my website'
    contentType='text'
>
    <h1>
        Welcome to my blog!
    </h1>
    
    <p>
        On this site I post all sorts of things that I've made. I enjoy sewing, lacemaking, 
        cooking, knitting/crochet, and programming. 
    </p>
 
    <p>
        Under the "blog" tab is where I share all of my crafting endeavors. You can also 
        find links to some web apps I've made for use in my projects.
    </p>
    
    <p>
        As someone who learns through note-taking, I also plan on keeping a set of 
        "notebooks" which compiles important things I've found and want to keep reference of.
        Right now, "recipes" is the only notebook I have a significant amount of content for,
        but I plan on adding more in the near future.
    </p>
    
    <p>
        Please feel free to send any comments and feedback my way. I would really appreciate it!
    </p>
    
    <p>
        Email: <a href="mailto:goldin@goldinvo.com">goldin@goldinvo.com</a><br>
        Github: <a href="https://github.com/goldinvo">goldinvo</a>
    </p>
</Page>
