---
layout: page
title: Blog
content-type: mixed
---
{% if paginator.total_pages > 1 %}
<div class="pagination secondary-font">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
  {% else %}
    <div class="paginate-end">Prev</div>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span style="cursor: default; text-decoration: underline;">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/blog' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
  {% else %}
    <div class="paginate-end">Next</div>
  {% endif %}
</div>
{% endif %}

<div class="blog-list">
  <ul>
    {% for post in paginator.posts %}
      <li>
        <a id="thumbnail" href="{{ post.url }}"><img src="{{ post.featured-image }}"></a>
        <div class="meta">
          <a id="title" class="link-highlight secondary-font" href="{{ post.url }}">{{ post.title }}</a>
          <div>{{ post.excerpt | strip_html }}</div>
          <div id="date">{{ post.date | date: "%b %-d, %Y" }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination secondary-font">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
  {% else %}
    <div class="paginate-end">Prev</div>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span style="cursor: default; text-decoration: underline;">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/blog' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
  {% else %}
    <div class="paginate-end">Next</div>
  {% endif %}
</div>
{% endif %}
