---
interface Props {
	date: Date;
	updatedDate?: Date;
}

const { date, updatedDate } = Astro.props;
---

<div class="inconsolata">
	<time datetime={date.toISOString()}>
		{
			date.toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})
		}
	</time> 
	{ updatedDate && <time datetime={updatedDate.toISOString()}>
		&mdash; Updated {
			updatedDate.toLocaleDateString('en-us', {
				year: 'numeric',
				month: 'short',
				day: 'numeric',
			})
		}
	</time> }
</div>

<style>
	div {
		font-size: .97em;
	}
</style>
