---
layout: default
# Parameters: 
#   disable-hidden-nav: bool
#   content-type: text | media | mixed
---
{% if page.content-type %}
    {% if page.content-type == "text" %} {% assign class = "text-content" %}
    {% elsif page.content-type == "media" %} {% assign class = "media-content" %}
    {% elsif page.content-type == "mixed" %}d {% assign class= "mixed-content" %} {% endif %}
{% elsif layout.content-type %}
    {% if layout.content-type == "text" %} {% assign class = "text-content" %}
    {% elsif layout.content-type == "media" %} {% assign class = "media-content" %}
    {% elsif layout.content-type == "mixed" %} {% assign class= "mixed-content" %} {% endif %}
{% endif %}

{% include navbar.html disable-hidden-nav=page.disable-hidden-nav %}

<main class={{class}}>
    {{ content }}
</main>