---
layout: page
---
<!-- Very fugly code but it works for my purposes and I can't be bothered 
 dealing with the limitations of Liquid anymore than this -->

<div class="recipe-nav">
  {% include file-path.html %}

  <h1>{{page.title}}</h1>

  
  {% assign level = page.url | split:'/' | size | plus:1 %}

  <!-- See if there are any folders at all-->
  {% assign has_folder = false %}
  {% for node in site.pages %}
    {% assign node_level = node.url | split:'/' | size %}
    {% if node.url contains page.url and node_level == level and node.path contains "index" %}
    {% unless node.path contains "$misc" %}{% assign has_folder = true %}{% endunless %}
    {% endif %}
  {% endfor %}

  <!-- See if there are any files at all-->
  {% assign has_file = false %}
  {% for node in site.pages %}
    {% assign node_level = node.url | split:'/' | size %}
    {% if node.url contains page.url and node_level == level %}
    {% unless node.path contains "$misc" %}  
      {% unless node.path contains "index" %} {% assign has_file = true %} {% endunless %}
    {% endunless %}
    {% endif %}
  {% endfor %}

  {% if has_folder == true %}<ul class="folders">{% endif %}

  {% if page.custom_folder_order %}
    {% for folder_path in page.custom_folder_order %}
      {% for node in site.pages %}
        {% if node.path contains folder_path %}
          <a class="secondary-font" href="{{node.url}}"><li>{{node.title}}</li></a> 
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
    {% assign sorted = site.pages | sort: "title" %}
    {% for node in sorted %}
      {% assign node_level = node.url | split:'/' | size %}
      {% if node.url contains page.url and node_level == level %}
      {% unless node.path contains "$misc" %}  
        {% if node.path contains "index" %} <a class="secondary-font" href="{{node.url}}"><li>{{node.title}}</li></a> {% endif %}
      {% endunless %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if has_folder == true %}</ul>{% endif %}


  {{content}}

  {% if has_file == true %}
  <h2>Recipes</h2>
  <ul class="files">
  {% for node in site.pages %}
    {% assign node_level = node.url | split:'/' | size %}
    {% if node.url contains page.url and node_level == level %}
    {% unless node.path contains "$misc" or node.path contains "index" %}  
      <li>{% include stub.html src=node.path %}</li>  
    {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}

  <footer style="text-align: center; font-size: smaller">
  <a href="/recipes/all-recipes">Index</a> | <a href="/recipes/about">About my Recipes</a>
  </footer>
</div>
